body {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}

.grid {
	display: grid;
}

.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.content {
	grid-area: content;
}

.sidenav {
	grid-area: sidenav;
}

.advert {
	grid-area: advert;
}

.footer {
	grid-area: footer;
}

.grid-template-areas {
	grid-template-columns: 10% 60% 30%;
	grid-template-rows: 70px 620px 60px;
	grid-template-areas:
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"
		;
}


/* Grid Item */
.item {
	margin: 5px;
	background: rgb(163, 199, 240);
	font-size: 1.5em;
}

.grid {
	max-width: 95%;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}

body > div {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}

body > div > img {
	display: block;
	margin: 0 auto;

}

.logo > img  {
    height: 70px;
    object-fit: fill;
}
